In [22]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IA.utils import mapping, parameter_range
from scipy import stats
from pathlib import Path
import math
from sklearn import metrics

In [5]:
!pwd

/autofs/ceph-stud-new/pfister/eclipse-workspace/NIAA

In [7]:
!ls -la /home/stud/pfister/eclipse-workspace/NIAA/analysis/not_uploaded/IA2NIMA/AVA2TID | sort

drwxr-xr-x 2 studpfister stud     12 Nov 18 00:42 .
drwxr-xr-x 4 studpfister stud      2 Nov 16 00:47 ..
-rw-r--r-- 1 studpfister stud 739062 Nov 16 00:57 .scratch.ckpts.IA2NIMA.AVA.None.change_regress.epoch-126.pth.txt
-rw-r--r-- 1 studpfister stud 739194 Nov 16 00:57 .scratch.ckpts.IA2NIMA.AVA.one.change_regress.epoch-77.pth.txt
-rw-r--r-- 1 studpfister stud 739309 Nov 16 00:52 .scratch.ckpts.IA2NIMA.AVA.imagenet.epoch-149.pth.txt
-rw-r--r-- 1 studpfister stud 739335 Nov 16 00:59 .scratch.ckpts.IA2NIMA.AVA.three.epoch-97.pth.txt
-rw-r--r-- 1 studpfister stud 739408 Nov 18 00:36 .scratch.ckpts.IA2NIMA.AVA.one.change_class.epoch-89.pth.txt
-rw-r--r-- 1 studpfister stud 739471 Nov 16 00:58 .scratch.ckpts.IA2NIMA.AVA.one.epoch-96.pth.txt
-rw-r--r-- 1 studpfister stud  93049 Nov 18 00:42 -scratch-ckpts-IA2NIMA-AVA-None-change_regress-epoch-126-pth-txt
-rw-r--r-- 1 studpfister stud  93051 Nov 18 00:42 -scratch-ckpts-IA2NIMA-AVA-one-change_regress-epoch-77-pth-txt
-rw-r--r-- 1 studpfister stud  93077 Nov 18 00:42 -scratch-ckpts-IA2NIMA-AVA-three-epoch-97-pth-txt
-rw-r--r-- 1 studpfister stud  93080 Nov 18 00:42 -scratch-ckpts-IA2NIMA-AVA-one-change_class-epoch-89-pth-txt
-rw-r--r-- 1 studpfister stud  93115 Nov 18 00:42 -scratch-ckpts-IA2NIMA-AVA-one-epoch-96-pth-txt
-rw-r--r-- 1 studpfister stud  93152 Nov 18 00:42 -scratch-ckpts-IA2NIMA-AVA-imagenet-epoch-149-pth-txt
total 4880

In [26]:
for file in Path("/home/stud/pfister/eclipse-workspace/NIAA/analysis/not_uploaded/IA2NIMA/AVA2TID").iterdir():
    if "-" == file.name[0]:
        continue
    if not "A.one.change_regress.epoch-77.pth" in file.name:
        continue
    print(file)
    df = pd.read_csv(file)
    df["scores"] = df["scores"].apply(lambda row: eval(row))
    df["scores"] = df["scores"].apply(lambda row: sum([(i+1)*v for i, v in enumerate(row)]))
    df["img"] = df["img"].apply(lambda row: Path(row).name)
    df = df[df["img"].str.contains("_")]

    df["img_id"] = df["img"].apply(lambda row: int(row.split("_")[0][1:]))
    df["dist_id"] = df["img"].apply(lambda row: int(row.split("_")[1]))
    df["intens_id"] = df["img"].apply(lambda row: int(Path(row).stem.split("_")[2]))

    df = df.sort_values(by=["img_id", "dist_id", "intens_id"])
    df = df.reset_index()
    
    
    df[["scores", "img"]].to_csv(str(file).replace(".", "-"), sep=" ", index=False)

/home/stud/pfister/eclipse-workspace/NIAA/analysis/not_uploaded/IA2NIMA/AVA2TID/.scratch.ckpts.IA2NIMA.AVA.one.change_regress.epoch-77.pth.txt

In [35]:
for file in Path("/home/stud/pfister/eclipse-workspace/NIAA/analysis/not_uploaded/IA2NIMA/AVA2TID").iterdir():
    if "-" == file.name[0]:
        continue
    if not "h.ckpts.IA2NIMA.AVA.imagenet.epoch-149.pth.txt" in file.name:
        continue
    print(file)
    df = pd.read_csv(file)
    df["scores"] = df["scores"].apply(lambda row: eval(row))
    df["scores"] = df["scores"].apply(lambda row: sum([(i+1)*v for i, v in enumerate(row)]))
    df["img"] = df["img"].apply(lambda row: Path(row).name)
    df = df[df["img"].str.contains("_")]

    df["img_id"] = df["img"].apply(lambda row: int(row.split("_")[0][1:]))
    df["dist_id"] = df["img"].apply(lambda row: int(row.split("_")[1]))
    df["intens_id"] = df["img"].apply(lambda row: int(Path(row).stem.split("_")[2]))

    df = df.sort_values(by=["img_id", "dist_id", "intens_id"])
    df = df.reset_index()
    
    
    df[["scores", "img"]].to_csv(str(file).replace(".", "-"), sep=" ", index=False)

/home/stud/pfister/eclipse-workspace/NIAA/analysis/not_uploaded/IA2NIMA/AVA2TID/.scratch.ckpts.IA2NIMA.AVA.imagenet.epoch-149.pth.txt

In [12]:
df

      index           img    scores  img_id  dist_id  intens_id
0      2460  I01_01_1.bmp  5.276122       1        1          1
1      2476  i01_01_2.bmp  5.240315       1        1          2
2      2201  i01_01_3.bmp  5.198482       1        1          3
3       826  i01_01_4.bmp  5.160865       1        1          4
4      2591  i01_01_5.bmp  4.996292       1        1          5
...     ...           ...       ...     ...      ...        ...
2995   2522  i25_24_1.bmp  5.588447      25       24          1
2996   2763  i25_24_2.bmp  5.554045      25       24          2
2997    178  i25_24_3.bmp  5.481046      25       24          3
2998   2291  i25_24_4.bmp  5.294298      25       24          4
2999    500  i25_24_5.bmp  5.135102      25       24          5

[3000 rows x 6 columns]

In [50]:
df["img_id"] = df["img"].apply(lambda row: int(row.split("_")[0][1:]))
df["dist_id"] = df["img"].apply(lambda row: int(row.split("_")[1]))
df["intens_id"] = df["img"].apply(lambda row: int(Path(row).stem.split("_")[2]))

df = df.sort_values(by=["img_id", "dist_id", "intens_id"])

ValueError: invalid literal for int() with base 10: '06.BMP'

In [37]:
df.rename(columns={"scores":"imagenet"})

      index           img  imagenet  img_id  dist_id  intens_id
0      2460  I01_01_1.bmp  5.276122       1        1          1
1      2476  i01_01_2.bmp  5.240315       1        1          2
2      2201  i01_01_3.bmp  5.198482       1        1          3
3       826  i01_01_4.bmp  5.160865       1        1          4
4      2591  i01_01_5.bmp  4.996292       1        1          5
...     ...           ...       ...     ...      ...        ...
2995   2522  i25_24_1.bmp  5.588447      25       24          1
2996   2763  i25_24_2.bmp  5.554045      25       24          2
2997    178  i25_24_3.bmp  5.481046      25       24          3
2998   2291  i25_24_4.bmp  5.294298      25       24          4
2999    500  i25_24_5.bmp  5.135102      25       24          5

[3000 rows x 6 columns]

In [13]:
mos = pd.read_csv("analysis/not_uploaded/mos_with_names.txt", sep=" ")
mos

      MOSscore           img
0      5.51429  I01_01_1.bmp
1      5.56757  i01_01_2.bmp
2      4.94444  i01_01_3.bmp
3      4.37838  i01_01_4.bmp
4      3.86486  i01_01_5.bmp
...        ...           ...
2995   5.65714  i25_24_1.bmp
2996   5.44444  i25_24_2.bmp
2997   4.62857  i25_24_3.bmp
2998   4.02778  i25_24_4.bmp
2999   2.77143  i25_24_5.bmp

[3000 rows x 2 columns]

In [40]:
eval_df = eval_df.set_index("img").join(df.rename(columns={"scores":"imagenet"}).set_index("img")).reset_index()[["img", "scores", "MOSscore","imagenet"]]

In [31]:
eval_df = df.set_index("img").join(mos.set_index("img")).reset_index()[["img", "scores", "MOSscore"]]
eval_df

               img    scores  MOSscore
0     I01_01_1.bmp  5.189932   5.51429
1     i01_01_2.bmp  5.149770   5.56757
2     i01_01_3.bmp  5.114090   4.94444
3     i01_01_4.bmp  5.062696   4.37838
4     i01_01_5.bmp  4.895939   3.86486
...            ...       ...       ...
2995  i25_24_1.bmp  5.489582   5.65714
2996  i25_24_2.bmp  5.463418   5.44444
2997  i25_24_3.bmp  5.427330   4.62857
2998  i25_24_4.bmp  5.307732   4.02778
2999  i25_24_5.bmp  5.125248   2.77143

[3000 rows x 3 columns]

In [28]:
stats.spearmanr(eval_df["MOSscore"], eval_df["scores"])

SpearmanrResult(correlation=0.3970668139516266, pvalue=7.377608487670482e-114)

In [41]:
eval_df["our_error"] = eval_df.apply(lambda row: metrics.mean_squared_error([row.MOSscore], [row.scores]), axis=1)
eval_df["imagenet_error"] = eval_df.apply(lambda row: metrics.mean_squared_error([row.MOSscore], [row.imagenet]), axis=1)

In [42]:
eval_df

               img    scores  MOSscore  imagenet  our_error  imagenet_error
0     I01_01_1.bmp  5.189932   5.51429  5.276122   0.105208        0.056724
1     i01_01_2.bmp  5.149770   5.56757  5.240315   0.174557        0.107096
2     i01_01_3.bmp  5.114090   4.94444  5.198482   0.028781        0.064537
3     i01_01_4.bmp  5.062696   4.37838  5.160865   0.468288        0.612282
4     i01_01_5.bmp  4.895939   3.86486  4.996292   1.063124        1.280139
...            ...       ...       ...       ...        ...             ...
2995  i25_24_1.bmp  5.489582   5.65714  5.588447   0.028076        0.004719
2996  i25_24_2.bmp  5.463418   5.44444  5.554045   0.000360        0.012013
2997  i25_24_3.bmp  5.427330   4.62857  5.481046   0.638018        0.726716
2998  i25_24_4.bmp  5.307732   4.02778  5.294298   1.638276        1.604069
2999  i25_24_5.bmp  5.125248   2.77143  5.135102   5.540460        5.586947

[3000 rows x 6 columns]

In [43]:
from scipy.stats import wilcoxon

In [47]:
wilcoxon(eval_df["our_error"], eval_df["imagenet_error"])

WilcoxonResult(statistic=1910913.0, pvalue=7.915969816332169e-13)

In [48]:
eval_df["our_error"] = eval_df.apply(lambda row: metrics.mean_absolute_error([row.MOSscore], [row.scores]), axis=1)
eval_df["imagenet_error"] = eval_df.apply(lambda row: metrics.mean_absolute_error([row.MOSscore], [row.imagenet]), axis=1)

In [49]:
wilcoxon(eval_df["our_error"], eval_df["imagenet_error"])

WilcoxonResult(statistic=1971041.0, pvalue=3.739793470771565e-09)

In [45]:
df["scores"] = df["scores"].apply(lambda row: eval(row))
df["scores"] = df["scores"].apply(lambda row: sum([(i+1)*v for i, v in enumerate(row)]))
df["img"] = df["img"].apply(lambda row: Path(row).name)
df = df[["scores", "img"]]

In [48]:
df["img_id"] = df["img"].apply(lambda row: int(row.split("_")[0][1:]))
df["dist_id"] = df["img"].apply(lambda row: int(row.split("_")[1]))
df["intens_id"] = df["img"].apply(lambda row: int(Path(row).stem.split("_")[2]))

ValueError: invalid literal for int() with base 10: '06.BMP'

In [29]:
df

      index           img    scores  img_id  dist_id  intens_id
0      2460  I01_01_1.bmp  5.189932       1        1          1
1      2476  i01_01_2.bmp  5.149770       1        1          2
2      2201  i01_01_3.bmp  5.114090       1        1          3
3       826  i01_01_4.bmp  5.062696       1        1          4
4      2591  i01_01_5.bmp  4.895939       1        1          5
...     ...           ...       ...     ...      ...        ...
2995   2522  i25_24_1.bmp  5.489582      25       24          1
2996   2763  i25_24_2.bmp  5.463418      25       24          2
2997    178  i25_24_3.bmp  5.427330      25       24          3
2998   2291  i25_24_4.bmp  5.307732      25       24          4
2999    500  i25_24_5.bmp  5.125248      25       24          5

[3000 rows x 6 columns]